#useDynLib(fgwas, .registration = TRUE)

# functions
export(fg.getCurve)
export(fg.getCovariance)
export(fg.addCurve)
export(fg.addCovariance)

export(fgwas.plink)
export(fgwas.simple)
export(fgwas.snpmat)

export(summary.fGWAS.dat)
export(plot.fGWAS.dat)
export(print.fGWAS.dat)

export(summary.fGWAS.scan)
export(print.sum.fGWAS.scan)
export(print.fGWAS.scan)
export(plot.fGWAS.scan)

export(summary.fGWAS.perm)
export(print.fGWAS.perm)
export(plot.fGWAS.perm)

export(fg.simulate)
export(fg.loadfile)
export(fg.snpscan)
export(fg.permutation)
export(fg.report)

# variables
#export(SSD_FILE_OPEN.isOpen,SSD_FILE_OPEN.FileName)
