useDynLib(LSKAT, .registration = TRUE)

# functions
export(longskat_gene_plink)
export(longskat_gene_run)
export(longskat_est_model)
export(summary.LSKAT.gen.ret)
export(plot.LSKAT.gen.ret)
export(longskat_snp_plink)
export(longskat_snp_run)
export(summary.LSKAT.snp.ret)
export(plot.LSKAT.snp.ret)


# variables
#export(SSD_FILE_OPEN.isOpen,SSD_FILE_OPEN.FileName)


