export(
FM2.start,
FM2.set_value,
FM2.get_value,
FM2.reg_curve,
FM2.get_cross,
FM2.reg_cross,
FM2.get_covar,
FM2.reg_covar,
FM2.param,
summary.FM2.par,
FM2.simulate,
FM2.load_data,
summary.FM2.dat,
report.FM2.dat,
plot.FM2.dat,
FM2.qtlmodel,
FM2.permutation,
summary.FM2.ret.perm,
plot.FM2.ret.perm,
FM2.evaluate,
summary.FM2.eval.ret,
plot.FM2.eval.ret,
FM2.report,
FM2.qtlscan,
FM2.simu_test,
par_LC,
par_BI,
par_PC,
par_EXP,
par_NP)

